* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
# myButton{
    margin: 1rem ;
    padding: 1rem;
    top: 1rem;
    font-weight: bolder ;
    border-radius: 1rem ;
    color: white;
    background: royalblue;

}
#myButton :hover{
    color: royalblue;
    background: white;
}
#myButton2{
color: white;
background: royalblue;
}
#mybutton2:hover{
color: royalblue;
background: white;
}
#mybutton{
    margin: 1rem ;
    padding: 1rem;
    top: 1rem;
    font-weight: bolder;
    border-radius: 1rem;
}
button,
#myButton10,
#myButton9,
